.login {
    position: relative;
    width: 1920px;
    height: 900px;
    color: #F8F8F9;
  
    background: url("fondoLogin.jpg"), #f8f8f9;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
  
    position: absolute;
    width: 610px;
    left: 0px;
    top: 0px;
    bottom: 0px;
  
    background: #ffffff;
  }
  
  .frame1223 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
  
    position: static;
    width: 450px;
    height: 700px;
    left: 80px;
    top: 80px;
  
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 30px 0px;
  }
  .alumnos {
    position: static;
    width: 297px;
    height: 28px;
    left: calc(50% - 297px / 2 - 76.5px);
    top: 143.5px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
  
    color: #121625;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -80px -10px;
  }
  
  .textoAlumnos{
    color:green;
    text-decoration-color: green;
  }
  
  .frame1254 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  
    position: static;
    width: 450px;
    height: 290px;
    left: 0px;
    top: 216.5px;
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 45px 0px;
  }
  
  .frame943 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  
    position: static;
    width: 450px;
    height: 230px;
    left: 0px;
    top: 0px;
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 30px 0px;
  }
  
  .frame1433 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  
    position: static;
    width: 450px;
    height: 68px;
    left: 0px;
    top: 0px;
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 30px 0px;
  }
  
  .email {
    position: static;
    width: 450px;
    height: 16px;
    left: 0px;
    top: 0px;
    text-align: left;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-feature-settings: "pnum" on, "lnum" on;
  
    color: #121625;
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
  }
  
  .correo {
    position: static;
    width: 128px;
    height: 22px;
    left: 15px;
    top: 9px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
  
    letter-spacing: 0.005em;
    font-feature-settings: "pnum" on, "lnum" on;
  
    color: #a5a8b3;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
  }
  
  .frame1439 {
   
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      
      position: static;
      width: 450px;
      height: 68px;
      left: 0px;
      top: 98px;
      
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      margin: 30px 0px;
  }
  
  .contraseña {
    position: static;
    width: 450px;
    height: 16px;
    left: 0px;
    top: 0px;
    text-align: left;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-feature-settings: "pnum" on, "lnum" on;
  
    color: #121625;
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
  }
  
  .frame1328 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 15px;
    
    position: static;
    width: 450px;
    height: 28px;
    left: 0px;
    top: 28px;
    
    background: #F8F8F9;
    border-radius: 8px;
    border: transparent;
    
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
  }
  
  .contraseña2 {
    position: static;
    width: 159px;
    height: 22px;
    left: 15px;
    top: 9px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
  
    letter-spacing: 0.005em;
    font-feature-settings: "pnum" on, "lnum" on;
  
    color: #a5a8b3;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
  }
  
  .frame1217 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
  
    position: static;
    width: 405px;
    height: 24px;
    left: 0px;
    top: 196px;
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0px;
  }
  
  .frame1414 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
  
    position: static;
    width: 227px;
    height: 24px;
    left: 0px;
    top: 0px;
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 10px;
  }
  
  .icon {
    position: static;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }
  
  .recuerdame {
    position: static;
    width: 195px;
    height: 16px;
    left: 32px;
    top: 4px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    font-feature-settings: "pnum" on, "lnum" on;
  
    color: #121625;
  
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 8px;
  }
  
  .title {
    position: static;
    height: 16px;
    left: 237px;
    right: 0px;
    top: 4px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
  
    color: #32d5a4;
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }
  
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 14px 5px 10px;
  
    position: static;
    width: 483px;
    height: 40px;
    left: 0px;
    top: 250px;
  
    background: #32d5a4;
    border-radius: 8px;
    border: transparent;
  
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
  }
  
  .iniciarsesion {
    position: static;
    width: 95px;
    height: 18px;
    left: 175.5px;
    top: 11px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    font-feature-settings: "pnum" on, "lnum" on;
  
    color: #ffffff;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }
  
  .frame1255 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
  
    position: static;
    width: 450px;
    height: 60px;
    left: 80px;
    top: 760px;
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 30px 0px;
  }
  
  .copyright {
    position: static;
    width: 286px;
    height: 20px;
    left: 0px;
    top: 0px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
  
    color: #a5a8b3;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }
  
  .derechos {
    position: static;
    width: 170px;
    height: 20px;
    left: 0px;
    top: 20px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
  
    color: #a5a8b3;
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
  }
  
  .politica {
    position: static;
    width: 130px;
    height: 20px;
    left: 0px;
    top: 40px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
  
    color: #a5a8b3;
  
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
  }
